<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="a.js"></script>
    <title>汽配系统</title>
</head>
<body>
    <div style="text-align: center">
         <h1 >汽配系统</h1>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">
        <i>*</i>车型</label>
      <div class="col-sm-3">
        <select name="input_province" id="input_province" class="form-control">
          <option value="">--请选择--</option></select>
      </div>
      <div class="col-sm-3">
        <select name="input_city" id="input_city" class="form-control">
          <option value=""></option>
        </select>
      </div>
      <div class="col-sm-3">
        <select name="input_area" id="input_area" class="form-control">
          <option value=""></option>
        </select>
      </div>
    </div>


    <script>
        $(function () {
        var html = "";
        $("#input_city").append(html);
        $("#input_area").append(html);
        $.each(pdata,function(idx,item){
            if (parseInt(item.level) == 0) {
                html += "<option value='" + item.names + "' exid='" + item.code + "'>" + item.names + "</option>";
            }
        });
        $("#input_province").append(html);
        $("#input_province").change(function(){
            if ($(this).val() == "")
                return;
            $("#input_city option").remove();
            $("#input_area option").remove();
            var code = $(this).find("option:selected").attr("exid");
            code = code.substring(0,2);
            var html = "<option value=''>--请选择--</option>";
            $("#input_area").append(html);
            $.each(pdata,function(idx,item){
                if (parseInt(item.level) == 1 && code == item.code.substring(0,2)) {
                    html += "<option value='" + item.names + "' exid='" + item.code + "'>" + item.names + "</option>";
                }
            });
            $("#input_city").append(html);
        });
        $("#input_city").change(function(){
            if ($(this).val() == "")
                return;
            $("#input_area option").remove();
            var code = $(this).find("option:selected").attr("exid");
            code = code.substring(0,4);
            var html = "<option value=''>--请选择--</option>";
            $.each(pdata,function(idx,item){
                if (parseInt(item.level) == 2 && code == item.code.substring(0,4)) {
                    html += "<option value='" + item.names + "' exid='" + item.code + "'>" + item.names + "</option>";
                }
            });
            $("#input_area").append(html);
        });
});
    </script>
</body>
</html>