<!DOCTYPE html>
<html>
	
	<include file="Public:header"/>
	
	<link rel="stylesheet" href="{$Think.const.HOME_CSS_URL}/about.css">	
	<div id="about">
		<div class="">
			<div class="home-bg" >
				<div class="picture">
					<img src="{$Think.const.HOME_IMAGES_URL}/yiliao3.png"/>
				</div>
				<div class="home-text">
					<div class="home-box" style="padding: 0;">
						<div class="home-box-1">
							<!--<h1 class="home-box-h">Company Introduction</h1>
							<p class="home-box-p">AptaCam is dedicated to develop fast, senstive and easy-to-use portable diagnostic devices for infectious disease in farm animals and humans. We design reagents based on the biomarkers of pathogens, and apply novel biosensors to measure the (bio)chemical changes within minutes... <span class="home-box-btn1"><a>more ∨</a></span></p>
							<p class="home-box-p home-box-hidden">AptaCam is dedicated to develop fast, senstive and easy-to-use portable diagnostic devices for infectious disease in farm animals and humans. We design reagents based on the biomarkers of pathogens, and apply novel biosensors to measure the (bio)chemical changes within minutes. At the heart of AptaCam is the passion to make molecular recognition easier and faster. The easy-to-use sensing platform can capture nano-level signal within minutes, which save time and reduce loss for farmers and patients.<span class="home-box-btn2"><a> ∧</a></span></p>-->
							<div class="row" >
								<div id="rexs-8" class="col-lg-7 col-md-7 col-sm-7 col-xs-7" >
									<h1 class="home-box-h">{$about['tab1_h']}</h1>
									<p class="home-box-p mytext-align" >{$about['tab1_box1_p']}<span class="home-box-btn1"><a>{$about['tab1_box1_more']}</a></span></p>
									<p class="home-box-p home-box-hidden mytext-align">{$about['tab1_box2_p1']}<br/><br/>{$about['tab1_box2_p2']}<span class="home-box-btn2"><a> ∧</a></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="">
			<div class="tab1-bg" >
				<div class="picture">
					<img src="{$Think.const.HOME_IMAGES_URL}/team.jpg"/>
				</div>
				<div class="tab1-text">
					<div class="tab1-box">
						<div id="rowmargin"  class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<!--<div id="case" >
									<div class="" >
										<div class="row ">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<div id='partner' class="thumbnail ">
													<img src="{$Think.const.HOME_IMAGES_URL}/man.png" alt="" />
													<div id='mycaption' class="caption ">
														<h5>{$about['tab2_per1_h1']}</h5>
														<h6>{$about['tab2_per1_h2']}</h6>
														<p class="jiesao" title="{$about['tab2_per1_p']}">{$about['tab2_per1_p']}</p>
														
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<div id='partner' class="thumbnail">
													<img src="{$Think.const.HOME_IMAGES_URL}/man.png" alt="" />
													<div id='mycaption' class="caption">
														<h5>{$about['tab2_per2_h1']}</h5>
														<h6>{$about['tab2_per2_h2']}</h6>
														<p class="jiesao" title="{$about['tab2_per2_p']}">{$about['tab2_per2_p']}</p>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<div id='partner' class="thumbnail">
													<img src="{$Think.const.HOME_IMAGES_URL}/women.png" alt="" />
													<div id='mycaption' class="caption">
														<h5>{$about['tab2_per3_h1']}</h5>
														<h6>{$about['tab2_per3_h2']}</h6>
														<p class="jiesao" title="{$about['tab2_per3_p']}">{$about['tab2_per3_p']}</p>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<div id='partner' class="thumbnail">
													<img src="{$Think.const.HOME_IMAGES_URL}/women.png" alt="" />
													<div id='mycaption' class="caption">
														<h5>{$about['tab2_per4_h1']}</h5>
														<h6>{$about['tab2_per4_h2']}</h6>
														<p class="jiesao" title="{$about['tab2_per4_p']}">{$about['tab2_per4_p']}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>-->
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="tab1-box-team">
									<h1 class="tab1-box-h">{$about['tab2_h']}</h1>
									<p class="tab1-box-p mytext-align">{$about['tab2_box1_p']}<span class="tab1-box-btn1"><a>{$about['tab2_box1_more']}</a></span></p>
									<p class="tab1-box-p tab1-box-hidden mytext-align">{$about['tab2_box2_p']}<span class="tab1-box-btn2"><a> ∧</a></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="">
			<div class="tab2-bg" >
				<div class="picture">
					<img src="{$Think.const.HOME_IMAGES_URL}/map.png"/>
				</div>
				<div class="tab2-text">
					<div class="tab2-box">
						<div class="tab2-box-1">
							<h1 class="tab2-box-h">{$about['tab3_h']}</h1>
							<p class="tab2-box-p mytext-align">{$about['tab3_p']}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<include file="Public:footer"/>
	
	<script type="text/javascript">
		$('.About').addClass('active');
		$(document).ready(function(){
			$(".home-box-btn1").click(function(){
		  	    $(".home-box-p").hide();
		    	$(".home-box-hidden").show();
		    });
		    $(".home-box-btn2").click(function(){
		    	$(".home-box-p").show();
		  	    $(".home-box-hidden").hide();
		    });
		    
	    	$(".tab1-box-btn1").click(function(){
		  	    $(".tab1-box-p").hide();
		    	$(".tab1-box-hidden").show();
		    });
		    $(".tab1-box-btn2").click(function(){
		    	$(".tab1-box-p").show();
		  	    $(".tab1-box-hidden").hide();
		    });
		});
	</script>
</body>
</html>
