<!DOCTYPE html>
<html>
	
	<include file="Public:header"/>
		
	<link rel="stylesheet" href="{$Think.const.HOME_CSS_URL}/solutions.css">
	<link rel="stylesheet" type="text/css" href="{$Think.const.HOME_CSS_URL}/windows_mac.css"/>
	<div id="solutionbody">
		<div class="">
			<div class="home-bg" >
				<div class="picture">
					<img src="{$Think.const.HOME_IMAGES_URL}/bg.jpg"/>
				</div>
				
				<div class="home-text download-text" >
					<div class="row home-box">
						<div class=" col-lg-6  col-md-6  col-sm-6 col-xs-6 " >
							<div class="download-p mytext-align" >
								{$download['tab1_p1']}{$download['tab1_p2']}
							</div>
							<div class="">
								<div class="home-box-1">
									<span id="" class="iconfont icon-windows download-icon" ></span>
									&nbsp;<span class="home-box1-h download-h">for windows</span>
								</div>
								<div class="home-box-1 download-btn-padding" >
									<a href="http://www.aptacam.com/aptacam.zip" target="_blank"> 
										<button type="button" class="btn btn-primary btn-lg download-btn">Download</button>
									</a>
								</div>
							</div>
							<div class="">
								<!--<div class="home-box-1 download-box-padding" >
									<span id="" class="iconfont icon-mac download-icon" ></span>
									<span class="home-box1-h download-h">for mac</span>
								</div>
								<div class="home-box-1 download-btn-padding">
									<a href="http://www.aptacam.com/aptacam.dmg" target="_blank"> 
										<button type="button" class="btn btn-primary btn-lg download-btn">Download</button>
									</a>
								</div>-->
							</div>
						</div>
						<div class=" col-lg-6  col-md-6  col-sm-6 col-xs-6" >
							<div class="download-img">
								<img src="{$Think.const.HOME_IMAGES_URL}/download.png"/ style="width: 100%;">
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
			
	<include file="Public:footer"/>
	
	<script type="text/javascript">
		$('.Software').addClass('active')
	</script>	
		
</body>
</html>
