<!DOCTYPE html>
<html>

	<include file="Public:header"/>
	
	<link rel="stylesheet" href="{$Think.const.HOME_CSS_URL}/knowledge.css">
	<style type="text/css">
		.pagelist span.current{background: #22CC77}
		.pagelist {padding:10px 0; text-align:center;}
		.pagelist span,.pagelist a{ border-radius:3px; border:1px solid #dfdfdf;display:inline-block; padding:5px 12px;}
		.pagelist a{ margin:0 3px;}
		.pagelist span.current{ background:#09F; color:#FFF; border-color:#09F; margin:0 2px;}
		.pagelist a:hover{background:#09F; color:#FFF; border-color:#09F; }
		.pagelist label{ padding-left:15px; color:#999;}
		.pagelist label b{color:red; font-weight:normal; margin:0 3px;}
	</style>
	<div id="knowledgebody">
		<div class="home-bg" >
			<div class="picture">
				<img src="{$Think.const.HOME_IMAGES_URL}/knowledge.jpg"/>
			</div>
			<div class="home-text">
				<div class="row home-box">
					<div class="response col-lg-7  col-md-7  col-sm-7 col-xs-7 " >
						<div class="home-box-1">
							<h1 class="home-box1-h">{$knowledge['tab1_h']}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>	
      			
		<div class="tab1">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<ul id="myTab" class="nav nav-tabs nav-stacked" style="font-family:  Arial Rounded MT Bold;">
							<li class="swv">
								<a href="#swv" data-toggle="tab">Square Wave Voltammetry</a>
							</li>
							<li class="cyclic">
								<a href="#cyclic" data-toggle="tab">Cyclic Voltammetry</a>
							</li>
							<li class="sinusoid">
								<a href="#sinusoid" data-toggle="tab">Sinusoid</a>
							</li>
							<li class="constant">
								<a href="#constant" data-toggle="tab">Constant Voltage</a>
							</li>
							<li class="linear">
								<a href="#linear" data-toggle="tab">Linear Sweep Voltammetry</a>
							</li>
							<li class="chronoamperometry">
								<a href="#chronoamperometry" data-toggle="tab">Chronoamperometry</a>
							</li>
							<li class="multistep">
								<a href="#multistep" data-toggle="tab">MultiStep Potentiometry</a>
							</li>
							<li class="email">
								<a href="#" class="" data-toggle="modal" data-target="#myModal">Register for the latest contents</a>
							</li>
						</ul>
					</div>
					<div class="col-md-10">
						
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="myModalLabel">
											{$knowledge['send_email']}
										</h4>
									</div>
									<div class="modal-body">
										<input type="" name="email" id="" value="" size="80"/>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">close
										</button>
										<button type="button" class="btn btn-primary submit">
											submit
										</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div>
						
						<div id="myTabContent" class="tab-content set" style="font-family:  Arial Rounded MT Bold;">
								<div id="swv" class="tab-pane fade active in">
									<hr />
									<h2>Square Wave Voltammetry</h2>
									<hr />
									<div class="swv_item">
										<ul>
											 <?php foreach ($datas[0]['data'] as $k => $v): ?>
												<li>
													<a href="{$Think.const.NCBI_URL}<?php echo $v['pmid']; ?>" target="_blank"><?php echo $v['title']; ?></a>
													<div class="form-group ">
														<span><?php echo $v['authers']; ?></span>
														<div class=""><?php echo $v['periodical']; ?><?php echo $v['copyright']; ?></div>
													</div>
												</li>
												<hr/>
											 <?php endforeach; ?>
										</ul>
										<div class="pagelist">
							      			{$datas[0]['page']}
							      		</div>
									</div>
									
								</div>
								
								<div id="cyclic" class="tab-pane fade">
									<hr />
									<h2>Cyclic Voltammetry</h2>
									<hr />
									<ul>
										 <?php foreach ($datas[1]['data'] as $k => $v): ?>
											<li>
												<a href="__MODULE__/Knowdetail/knowdetail/user_id/<?php echo $v['id']; ?>" target="_blank"><?php echo $v['title']; ?></a>
												<div class="form-group ">
													<span><?php echo $v['authers']; ?></span>
													<div class=""><?php echo $v['periodical']; ?><?php echo $v['copyright']; ?></div>
												</div>
											</li>
											<hr/>
										 <?php endforeach; ?>
									</ul>
									<div class="pagelist">
						      			{$datas[1]['page']}
						      		</div>
								</div>
								
								<div id="sinusoid" class="tab-pane fade">
									<hr />
									<h2>Sinusoid</h2>
									<hr />
									<ul>
										 <?php foreach ($datas[1]['data'] as $k => $v): ?>
											<li>
												<a href="__MODULE__/Knowdetail/knowdetail/user_id/<?php echo $v['id']; ?>" target="_blank"><?php echo $v['title']; ?></a>
												<div class="form-group ">
													<span><?php echo $v['authers']; ?></span>
													<div class=""><?php echo $v['periodical']; ?><?php echo $v['copyright']; ?></div>
												</div>
											</li>
											<hr/>
										 <?php endforeach; ?>
									</ul>
									<div class="pagelist">
						      			{$datas[1]['page']}
						      		</div>
								</div>
								
								<div id="constant" class="tab-pane fade">
									<hr />
									<h2>Constant Voltage</h2>
									<hr />
									<ul>
										 <?php foreach ($datas[1]['data'] as $k => $v): ?>
											<li>
												<a href="__MODULE__/Knowdetail/knowdetail/user_id/<?php echo $v['id']; ?>" target="_blank"><?php echo $v['title']; ?></a>
												<div class="form-group ">
													<span><?php echo $v['authers']; ?></span>
													<div class=""><?php echo $v['periodical']; ?><?php echo $v['copyright']; ?></div>
												</div>
											</li>
											<hr/>
										 <?php endforeach; ?>
									</ul>
									<div class="pagelist">
						      			{$datas[1]['page']}
						      		</div>
								</div>
								
								<div id="linear" class="tab-pane fade">
									<hr />
									<h2>Linear Sweep Voltammetry</h2>
									<hr />
									<ul>
										 <?php foreach ($datas[1]['data'] as $k => $v): ?>
											<li>
												<a href="__MODULE__/Knowdetail/knowdetail/user_id/<?php echo $v['id']; ?>" target="_blank"><?php echo $v['title']; ?></a>
												<div class="form-group ">
													<span><?php echo $v['authers']; ?></span>
													<div class=""><?php echo $v['periodical']; ?><?php echo $v['copyright']; ?></div>
												</div>
											</li>
											<hr/>
										 <?php endforeach; ?>
									</ul>
									<div class="pagelist">
						      			{$datas[1]['page']}
						      		</div>
								</div>
								
								<div id="chronoamperometry" class="tab-pane fade">
									<hr />
									<h2>Chronoamperometry</h2>
									<hr />
									<ul>
										 <?php foreach ($datas[1]['data'] as $k => $v): ?>
											<li>
												<a href="__MODULE__/Knowdetail/knowdetail/user_id/<?php echo $v['id']; ?>" target="_blank"><?php echo $v['title']; ?></a>
												<div class="form-group ">
													<span><?php echo $v['authers']; ?></span>
													<div class=""><?php echo $v['periodical']; ?><?php echo $v['copyright']; ?></div>
												</div>
											</li>
											<hr/>
										 <?php endforeach; ?>
									</ul>
									<div class="pagelist">
						      			{$datas[1]['page']}
						      		</div>
								</div>
								
								<div id="multistep" class="tab-pane fade">
									<hr />
									<h2>MultiStep Potentiometry</h2>
									<hr />
									<ul>
										 <?php foreach ($datas[1]['data'] as $k => $v): ?>
											<li>
												<a href="__MODULE__/Knowdetail/knowdetail/user_id/<?php echo $v['id']; ?>" target="_blank"><?php echo $v['title']; ?></a>
												<div class="form-group ">
													<span><?php echo $v['authers']; ?></span>
													<div class=""><?php echo $v['periodical']; ?><?php echo $v['copyright']; ?></div>
												</div>
											</li>
											<hr/>
										 <?php endforeach; ?>
									</ul>
									<div class="pagelist">
						      			{$datas[1]['page']}
						      		</div>
								</div>
								
							<!--<div id="cyclic" class="tab-pane fade">
								<hr />
								<h2>Cyclic Voltammetry</h2>
								<hr />
								<ul>
									<li>
										<a href="#">Lower Preterm Birth Rates but Persistent Racial Disparities in an Open-Access Health Care System </a>
										<div class="form-group ">
											<span>Engelhardt KA, Hisle-Gorman E, Gorman GH, Dobson NR</span><span class="badge">16</span>
											<span class="">PMID: 29547967</span>
										</div>
									</li>
									<hr />
								</ul>
								<ul class="pagination pagination-lg pull-right">
									<li>
										<a href="#">&laquo;</a>
									</li>
									<li>
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">4</a>
									</li>
									<li>
										<a href="#">5</a>
									</li>
									<li>
										<a href="#">&raquo;</a>
									</li>
								</ul>
							</div>-->
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<include file="Public:footer"/>
	
	<script type="text/javascript">
		$('.Knowledge').addClass('active');
		
		$('.submit').on('click',function(){
			var email = $("input[name='email'] ").val();
			var regex = /^([0-9A-Za-z\-_\.]+)@([0-9a-z]+\.[a-z]{2,3}(\.[a-z]{2})?)$/g;
			if(regex.test(email)){
				url = "__MODULE__/Knowdetail/email/";
				$.ajax({  
	                type:'post',  
	                url:url,
	                data:{
	                	email:email
	                },
	                success:function(res){  
	                	 $('#myModal').modal('hide') 
	                }  
	            })  
			}else{
				alert("{$knowledge['error_email']}");
			}
//			url = "{$Think.const.SITE_URL}/__CONTROLLER__/Knowdetail/email/";
			
		})
		
//		$(".pagelist a").on('click',function(){ //直接用click点击事件因为js没刷新还是会出现跳转，on（“click”,function）事件测试有的页码也会出现跳转
//				
//	            var pageObj = this;  
//	            var url = pageObj.href;  
//	            $.ajax({  
//	                type:'get',  
//	                url:url,
//	                data:{
//	                	type:'swv'
//	                },
//	                success:function(res){  
//	                	 alert(res);
//	                     $(".swv_item").html(res);  
//	                }  
//	            })  
//	  
//	            return false;//取消a链接的跳转  
//	    });
		
		
//		myurl = window.location.href;
//		url_method = myurl.split("method/");
//		if(url_method[1] == "swv"){
//			$('#myTabContent div h2').html('Square Wave Voltammetry');
//		}else if (url_method[1] == "cyclic"){
//			$('#myTabContent div h2').html('Cyclic Voltammetry');
//		}else if (url_method[1] == "sinusoid"){
//			$('#myTabContent div h2').html('Sinusoid');
//		}else if (url_method[1] == "constant"){
//			$('#myTabContent div h2').html('Constant Voltage');
//		}else if (url_method[1] == "linear"){
//			$('#myTabContent div h2').html('Linear Sweep Voltammetry');
//		}else if (url_method[1] == "chronoamperometry"){
//			$('#myTabContent div h2').html('Chronoamperometry');
//		}else if (url_method[1] == "multistep"){
//			$('#myTabContent div h2').html('MultiStep Potentiometry');
//		}
	</script>	
		

</body>
</html>