@charset "utf-8";
#contact{
	margin-top: 50px;
}

.contact-bg{
	height: 300px;
	position: relative;
}

.contact-bg .picture{
	position: absolute;
	height: 100%;
	width:100%;
	top: 0px;
}

.contact-bg .picture img{
	height: 100%;
	width: 100%;
}

.contact-text{
	position: relative;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	padding-top:80px;
}

.contact-box{
	
	width: 100%;
	margin: 0;
	font-family: Arial Rounded MT Bold;
}

.contact-detail{
	width: 100%;
	height: 120px;
    display: inline-block;
    background: rgba(0,0,0,.5);
    border-radius: 6px;
    color: rgba(255,255,255,.8);
    letter-spacing: 1px;
    text-align: center;
    font-size: 8px;
    max-width: 250px;
    padding-top: 10px;
    font-family: Arial Rounded MT Bold;
}

.contact-detail img{
	height: 50%;
}

.contact-detail:hover {
    background: rgba(0,0,0,.7);
}

.font-cn p,.font-cn h1,.font-cn h4{
	font-family: 幼圆;
}


.address{
	margin-top: 20px;
	text-align: center;
	font-size: 35px;color: black;
	font-family: Arial Rounded MT Bold;
	font-weight: bold;
}

.thumbnail{
	border: 1px solid #C0C0C0;
}

#case {
	padding: 5px 0px;
	text-align: center;
}
#case h4 {
	color: #666;
}
#case p {
	color: #666;
	line-height: 1.6;
}

.caption h4,.caption p{
	font-family: Arial Rounded MT Bold;
}


/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	.contact-bg{
		height: 400px;
	}
	.contact-text{
		padding-top: 100px;
		margin-right: 10%;
		margin-left: 10%;
	}
	.contact-detail{
		height: 180px;
		padding-top: 30px;
		font-size: 18px;
	}
	.contact-detail img{
		height: 64px;
	}
	.address{
		margin-top: 20px;
	}
	#case {
		padding: 20px 0px;
	}
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
	.contact-bg{
		height: 500px;
	}
	.contact-text{
		padding-top: 150px;
	}
	.contact-detail{
		height: 250px;
		padding-top: 60px;
		font-size: 20px;
	}
	.contact-detail img{
		height: 64px;
	}
	.address{
		margin-top: 30px;
	}
	#case {
		padding: 30px 0px;
	}
	#case p {
		font-size: 15px;
	}
	
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	.contact-bg{
		height: 650px;
	}
	.contact-text{
		padding-top: 220px;
	}
	.contact-detail{
		height: 300px;
		padding-top: 90px;
		font-size: 22px;
	}
	.contact-detail img{
		height: 64px;
	}
	.address{
		margin-top: 50px;
	}
	#case {
		padding: 60px 0px;
	}
}