@charset "utf-8";
#solutionbody{
	margin-top: 50px;
}

.home-bg{
	height: 300px;
	position: relative;
}
.home-bg .picture{
	position: absolute;
	height: 100%;
	width:100%;
	top: 0px;
}
.home-bg .picture img{
	height: 100%;
	width: 100%;
}
.home-text{
	position: relative;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	padding-top:0px;
}
.home-box{
	width: 100%;
	margin: 0;
	font-family:  Arial Rounded MT Bold;
	color: white;
}
.response{
	width: 100%;
}
.home-box1-h,.download-h{
	font-weight: bold;
	font-size: 14px;
}
.download-icon{
	font-size: 14px !important;
}
.download-box-padding{
	padding-top: 10px;
}
.download-btn{
	font-size: 8px;
}
.download-p{
	padding-left: 10%;
}
.home-box1-p,.home-box2-p,.download-p{
	font-size: 8px;
}
.download-p{
	padding-bottom: 10px;
}
.download-img{
	padding-top: 80px;
}
.home-box1-btn1 a,.home-box2-btn1 a{
	font-size: 8px;
	/*color: blue;*/
}
.home-box1-btn2 a,.home-box2-btn2 a{
	font-size: 10px;
	/*color: white;*/
}
.home-box1-btn1 a:hover,.home-box1-btn2 a:hover,.home-box2-btn1 a:hover,.home-box2-btn2 a:hover{
	cursor:pointer;
}
.home-box1-hidden,.home-box2-hidden{
	display: none;
}
.home-box-2{
	padding-top: 30px;
}

.font-cn p,.font-cn h1{
	font-family: 幼圆;
}

.tab-pro{
	padding-top:10px;
	margin-bottom:100px;
	font-size: 13px;
	height: 120px;
	text-align: center;
	color: black;
	font-family: Arial Rounded MT Bold;
	padding-left: 25%;
	padding-right: 25%;
}
.tab-pro-btn1 a{
    color:blue;
}
.tab-pro-pb{
	display: inline;
}
.tab-pro-hidden{
	display: none;
}

#tab1,#tab2{
	font-family: Arial Rounded MT Bold;
	color: black;
	text-align: center;
}
#tab1 .tab1-box1,#tab2 .tab2-box1{
	padding-top: 0px;
	
}

.mytext-body{
	padding-left: 25%;
	padding-right: 25%;
}
#tab1 h1,#tab2 h1{
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: bold;
}
#tab1 p,#tab2 p{
	font-size: 13px;
	display: inline;
}

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	.home-bg{
		height: 400px;
	}
	.home-text{
		padding-top:35px;
	}
	.response{
		width: 58.33333333%;
	}
	.home-box1-h,.download-h{
		font-size: 25px;
	}
	.download-icon{
		font-size: 25px !important;
	}
	.download-btn{
		font-size: 15px;
	}
	.download-box-padding{
		padding-top: 15px;
	}
	.download-btn-padding{
		padding-top: 5px;
	}
	.home-box1-p,.home-box2-p,.download-p{
		font-size: 13px;
	}
	.download-p{
		padding-bottom: 15px;
	}
	.home-box1-btn a,.home-box2-btn a{
		font-size: 13px;
	}
	.home-box-2{
		padding-top: 30px;
	}
	
	.tab-pro{
		padding-top:30px;
		margin-bottom:30px;
		font-size: 16px;
		height: 150px;
	}
	.tab-pro-pb{
		display: block;
	}
	
	#tab1 .tab1-box1,#tab2 .tab2-box1{
		padding-top: 20px;
	}
	#tab1 h1,#tab2 h1{
		font-size: 32px;
		margin-bottom: 20px;
	}
	#tab1 p,#tab2 p{
		font-size: 16px;
		display: inline;
	}
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
	.home-bg{
		height: 500px;
	}
	.home-text{
		padding-top:60px;
	}
	.response{
		width: 58.33333333%;
	}
	.home-box1-h,.download-h{
		font-size: 30px;
	}
	.download-icon{
		font-size: 30px !important;
	}
	.download-btn{
		font-size: 16px;
	}
	.download-box-padding{
		padding-top: 30px;
	}
	.download-btn-padding{
		padding-top: 5px;
	}
	.home-box1-p,.home-box2-p,.download-p{
		font-size: 20px;
	}
	.download-p{
		padding-bottom: 30px;
	}
	.home-box1-btn a,.home-box2-btn a{
		font-size: 13px;
	}
	.home-box-2{
		padding-top: 50px;
	}
	
	.tab-pro{
		padding-top:30px;
		margin-bottom:30px;
		font-size: 20px;
		height: 150px;
	}
	.tab-pro-pb{
		display: block;
	}
	
	#tab1 .tab1-box1,#tab2 .tab2-box1{
		padding-top: 40px;
	}
	#tab1 h1,#tab2 h1{
		font-size: 35px;
		margin-bottom: 20px;
	}
	#tab1 p,#tab2 p,#tab1 div,#tab2 div{
		font-size: 20px;
		display: block;
	}
	
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	.home-bg{
		height: 700px;
	}
	.home-text{
		padding-top:250px;
	}
	.download-text{
		padding-top:150px;
	}
	.response{
		width: 50%;
	}
	.home-box1-h,.download-h{
		font-size: 35px;
	}
	.download-icon{
		font-size: 60px !important;
	}
	.download-btn{
		font-size: 18px;
	}
	.download-box-padding{
		padding-top: 50px;
	}
	.download-btn-padding{
		padding-top: 20px;
	}
	.home-box1-p,.home-box2-p,{
		font-size: 18px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.download-p{
		padding-bottom: 50px;
		padding-left: 10%;
	}
	.download-img{
		padding-top: 0px;
	}
	.home-box1-btn a,.home-box2-btn a{
		font-size: 13px;
	}
	.home-box1-btn1 a,.home-box1-btn2 a{
		font-size: 18px;
	}
	.home-box-2{
		padding-top: 50px;
	}
	.tab-pro{
		padding-top:100px;
		margin-bottom:30px;
		font-size: 20px;
		height: 300px;
	}
	.tab-pro-pb{
		display: block;
	}
	
	#tab1 .tab1-box1,#tab2 .tab2-box1{
		padding-top: 0;
	}
	#tab1 h1,#tab2 h1{
		font-size: 35px;
		margin-bottom: 20px;
	}
	#tab1 p,#tab2 p,#tab1 div,#tab2 div{
		font-size: 20px;
		display: block;
	}
}